


.container{
    display: grid;
   
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "sidebar content content content"
    "footer footer footer footer";
}

.header{
    grid-area: header;
   
    text-align: center;
    background-color: red;
}

nav{
    display: flex;
    grid-area: nav;
    padding: 10px;
    background-color: coral;
    justify-content: center;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
}

.content{
    grid-area: content;
    padding: 20px;
}

.sidebar{
    grid-area: sidebar;
    text-align: center;
  
}

.sidebar ul{
    list-style: none;
}

footer{
   grid-area: footer;
    text-align: center;
    background-color: red;
    color: #fff;
}

@media(max-width:700px){
    .container{      
       
        grid-template-areas: 
        "header"
        "nav"
        "sidebar" 
        "content"
        "footer";
    }
    nav{
        flex-direction: column;
    }
}