




.container{
    background-color: #034f84;
    padding: 20px;
    display: grid;

    /* grid-template-columns: minmax(200px,500px) 700px 400px; */
    /* grid-template-columns: minmax(800px,1fr) 1fr 400px 1fr; */
    /* grid-template-columns: repeat(3,minmax(200px,1fr)); */

    /* grid-template-columns: repeat(auto-fill,minmax(200px,1fr)) */

    /* grid-template-columns: 200px 200px 2fr 1fr; */

    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    
}







.item{
    background-color: #f7786b;
    color: #fff;
    font-size: 25px;
    padding: 20px;
    margin: 20px;
   
}